
body {
    background-color: black; 
    margin: 0;
    padding: 0;
    color: white; 
    font-family: Arial, sans-serif;
    height: 100vh; 
}

.app-container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.container {
    padding: 20px;
}

form-container {
    border: 2px solid #ff6700; 
    padding: 20px;
    width: 300px;
    margin: auto;
    background-color: #333; 
    border-radius: 10px;
    color: white;
}

h2 {
    color: #ff6700;
}
