.custom-carousel-control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.custom-carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  transition: 0.3s ease;
}
